@charset "utf-8";

.miso-post-webzine .post-wrap { overflow:hidden; line-height:20px; }
.miso-post-webzine .txt-normal { letter-spacing:0; }
.miso-post-webzine .txt-short { letter-spacing:-1px; padding-right:1px; }
.miso-post-webzine .post-vicon { position:absolute; left:6px; top:6px; color: #fff; font-size:20px; z-index:1; text-shadow: 1px 1px 1px #000; }
.miso-post-webzine .post-none { padding:50px 10px; text-align:center; color:#888; }
.miso-post-webzine .post-row { float:left; overflow:hidden; }
.miso-post-webzine .post-list { overflow:hidden; }
.miso-post-webzine .post-image { position:relative; overflow:hidden; }
.miso-post-webzine .post-content { margin:0px 0px -2px; overflow:hidden; }
.miso-post-webzine .post-subject { overflow:hidden; letter-spacing:-1px; padding-right:1px; }
.miso-post-webzine .post-text { font-size:12px; color:#888; margin-top:4px; }
.miso-post-webzine .post-sp { color:#ccc; margin:0px 4px; }
.is-pc .ko .miso-post-webzine .post-ko { font-size:11px; }
.miso-post-webzine #infscr-loading { background: rgb(0, 0, 0); margin:0px; padding: 10px; border-radius: 10px; left: 50%; width: 200px; margin-left:-110px; text-align: center; bottom: 50px; color: rgb(255, 255, 255); position: fixed; z-index: 100; opacity: 0.8; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.miso-post-webzine .post-more { text-align:center; margin:15px 0px 0px; }